{
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "parser": "typescript",
  "bracketSpacing": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "useTabs": false
}
